body{
    margin: 0;
    padding: 0;

}
.autoclass{
    position: absolute;
    z-index: 9999;
}

.nav{
    width: 10%;
    height: 100%;
    background: #eee;
    position: absolute;
}
.main{
    position: absolute;
    margin-left: 15%;
}
.mean{
    border-bottom: 1px solid #e7e7e7;
    cursor:pointer;
    height: 30px;
    line-height:30px;

    margin-bottom: 2px;
}
li{
    list-style-type:none
}